body {
    background: grey;
    color: white;
}

.main-content {
    width: 1000px;
    margin: 0 auto;
}

.u {
    text-decoration: underline;
}

.mets {
    background: orange;
    color: #0b0d0c;
}

.dodgers {
    background: blue;
    color: #ffffff;
}

.cubs {
    
}

.pittsburgh {
    background: yellow;
    color: #373737;
}

.cardinals {
    background: red;
    color: #050503
    
}

.table-container {
    background: black;
}

.dodgers a:link {
    color: white;
}

a:visited {
}
